@import url('http://fonts.googleapis.com/css?family=Vibur');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #060c21;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  background: #060c21;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 70%;
  width: 800px;
}

.container:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.container:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.container::before,
.container:after {
  background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}

.quote {
  margin: 40px;
  font-size: 40px;
  font-family: 'Vibur', cursive;
  letter-spacing: 1px;
  color: #fee;
  max-width: 600px;
  animation: neon 0.08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(255, 238, 238, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(255, 86, 68, 0.52),
      0 0 21px rgba(255, 86, 68, 0.92), 0 0 34px rgba(255, 86, 68, 0.78),
      0 0 54px rgba(255, 86, 68, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(255, 238, 238, 0.98),
      0 0 30px rgba(255, 238, 238, 0.42), 0 0 12px rgba(255, 86, 68, 0.58),
      0 0 22px rgba(255, 86, 68, 0.84), 0 0 38px rgba(255, 86, 68, 0.88),
      0 0 60px rgba(255, 86, 68, 1);
  }
}

a {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  color: yellow;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  transition: 0.5s;
  font-family: 'Inconsolata', monospace;
  transition: 0.5s;
  cursor: pointer;
}

a:hover {
  color: #060c21;
  background: yellow;
  box-shadow: 0 0 10px yellow, 0 0 40px yellow, 0 0 80px yellow;
  transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, yellow);
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, yellow, transparent);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, yellow);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, yellow, transparent);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
